<html>
<head>
	<meta charset="UTF-8" />
	<title>学生分析图表</title>
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div id="container" style="width: 500px; height: 350px; margin: 0 0"></div>

<div id="container2" style="width: 500px; height: 350px; margin: 0 auto"></div>

<script language="JavaScript">
	$(document).ready(function() {
		var chart = {
			type: 'column'
		};
		var title = {
			text: '根据学生专业来分析'
		};
		var subtitle = {
			text: '学生专业分布'
		};
		var xAxis = {
			categories: ['计算机技术','软件技术','java软件开发','软件技术虚拟vr','软件前端开发','网络运营策划','软件测试','通讯与运维'],
			crosshair: true
		};
		var yAxis = {
			min: 0,
			title: {
				text: ''
			}
		};
		var tooltip = {
			headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
			pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
			'<td style="padding:0"><b>{point.y:.1f} 名</b></td></tr>',
			footerFormat: '</table>',
			shared: true,
			useHTML: true
		};
		var plotOptions = {
			column: {
				pointPadding: 0.2,
				borderWidth: 0
			}
		};
		var credits = {
			enabled: false
		};
		var series= [{
			name: '男生',
			data: [49, 71, 106, 129, 144, 176, 135, 148]
		}, {
			name: '女生',
			data: [83, 78, 98, 93, 106, 84, 105, 104]
		}];
		var json = {};
		json.chart = chart;
		json.title = title;
		json.subtitle = subtitle;
		json.tooltip = tooltip;
		json.xAxis = xAxis;
		json.yAxis = yAxis;
		json.series = series;
		json.plotOptions = plotOptions;
		json.credits = credits;
		$('#container').highcharts(json);


		//地区图
		var title = {
			text: 'Highcharts Treemap'
		};

		var colorAxis = {
			minColor: '#FFFFFF',
			maxColor: Highcharts.getOptions().colors[0]
		};

		var series= [{
			type: "treemap",
			layoutAlgorithm: 'squarified',
			data: [{
				name: 'A',
				value: 6,
				colorValue: 1
			}, {
				name: 'B',
				value: 6,
				colorValue: 2
			}, {
				name: 'C',
				value: 4,
				colorValue: 3
			}, {
				name: 'D',
				value: 3,
				colorValue: 4
			}, {
				name: 'E',
				value: 2,
				colorValue: 5
			}, {
				name: 'F',
				value: 2,
				colorValue: 6
			}, {
				name: 'G',
				value: 1,
				colorValue: 7
			}]
		}];

		var json = {};
		json.title = title;
		json.colorAxis = colorAxis;
		json.series = series;

		$('#container2').highcharts(json);
	});

</script>

</body>
</html>