<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>首页</title>
	
	<script src="js/highcharts.js" type="text/javascript"></script>
	<script src="js/jquery.highchartTable.js" type="text/javascript"></script>
	<script language="javascript">
		$(document).ready(function() {
			$('table.highchart').highchartTable();
		});
	</script>
	<script>
		new Vue({
			router:router,
			el:"#showStudent_bootm",
			//在页面加载的时候就被created()添加了数据
			data:{
				className:'',
				currentPage:1,
				total:'',
				totalPage:'',
				list:[]
			},
			/*方法执行前*/
			created(){
				this.getAllList();
			},
			methods:{
				/*分页处理*/
				changePage(data){
					if(data === "pre"){
						this.currentPage-=1;
					}else if(data === "next"){
						this.currentPage+=1;
					}
					if(this.className.trim() === '')
						this.getAllList();
					else
						this.showStudent_bootm(this.currentPage);
				},

				//根据选择框的页数查询数据
				selectPage(){
					this.currentPage=$("[name='currentPage']").val();
					this.showStudent_bootm(this.currentPage);
				},

				/*查询所有班级信息*/
				getAllList(){
					this.$http.get("classInfo/info/listClassManage/"+this.currentPage).then(result => {
						this.common(result);
					})
				},

				/*根据课程名称查询课程信息*/
				showStudent_bootm(currentPage){
					this.className=$("[name='className']").val();
					this.$http.post("classInfo/info/listClassManageLike",{className:this.className , currentPage:currentPage}).then(result => {
						this.common(result);
					})
				},

				//删除班级信息
				del(id){
					this.$http.delete("classInfo/info/deleteClassInfo/"+id).then(result => {
						var result=result.body;
						if (result==true){
							toastr.success("删除成功");
							this.getAllList();
						} else{
							toastr.warning("删除失败");
						}
					})
				},

				//更新加载页面
				update(){
					$('#content-change-main').load("developmentManage/saveOrUpdate/saveOrUpdateGradeClass.html",function(){});
				},

				//通用的数据绑定
				common(result){
					var result=result.body;
					if(result.status === 0){
						this.list = result.list;
						this.total = result.total;
						this.currentPage = result.currentPage;
						this.totalPage = result.totalPage;
					}else{
						toastr.error("获取数据失败");
					}
				}
			}
		})
	</script>
</head>
<body>


<div class="col-xs-6 col-lg-4">
	<div class="small-chart-wrapper">
		<div class="small-chart" id="sparklineLine"><canvas style="display: inline-block; width: 80px; height: 30px; vertical-align: top;" width="80" height="30"></canvas></div>
		<div class="small-chart-info">
			<label>Average</label>
			<strong>1567.89</strong>
		</div>
		<script type="text/javascript">
			var sparklineLineData = [15, 16, 17, 19, 10, 15, 13, 12, 12, 14, 16, 17];
		</script>
	</div>
</div>



<div id="showStudent_bootm">
<div align="center">
	<div class="alert alert-info"
	     style="margin: 0px; padding: 5px; width: 100%;">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
		</button>
		
		
<div style="padding:0px; margin:0px;">
	<ul class="breadcrumb" style=" padding:0px; padding-left:20px;" >
		<li >数据分析与统计</li>
		<li>学生信息分析与统计</li>
	</ul>
</div>

<div  style="padding:1px; margin:0px;"  >
	
	<div class="row" >
		
		<div class="col-sm-8">
			<div class="panel panel-default" >
				<div class="panel-heading" style=" padding:3px;height:30px;"  >
					<span class="glyphicon glyphicon-refresh"></span>学生来源城市分布图
				</div>
				<div class="panel-body">
					<table class="highchart" style="display:none; "
					       data-graph-container-before="1"  data-graph-height="250" data-graph-type="area" >
						<thead>
						<tr>
							<th>数量</th>
							<th>城市</th>
						</tr>
						</thead>
						<tbody>
						<!--<c:forEach items="${reportInfo.getStudentNativeList }"  var="studentNative">-->
						<tr >
								<td> 22</td>
								<td> 33</td>
						</tr>
						<tr >
							<td> 12</td>
							<td> 23</td>
						</tr>
						<tr >
							<td> 12</td>
							<td> 33</td>
						</tr>
						<!--</c:forEach>-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default" >
				<div class="panel-heading" style=" padding:3px;height:30px;"  >
					<span class="glyphicon glyphicon-refresh"></span>学生性别分布图
				</div>
				<div class="panel-body">
					<table class="highchart" style="display:none; "
					       data-graph-container-before="1"  data-graph-height="250" data-graph-type="pie" >
						
						<thead>
						<tr>
							<th>模块</th>
							<th>数量</th>
						</tr>
						</thead>
						<tbody>
						<!--<c:forEach items="${reportInfo.getStudentSexList }"  var="studentSex">-->
							<tr >
								<td>
									<!--${studentSex.student_sex=='男'?'男':'' }-->
									<!--${studentSex.student_sex=='女'?'女':'' }-->
									男
								</td>
								<td >622</td>
							</tr>
						<tr >
							<td>
								女
							</td>
							<td >122</td>
						</tr>
						
						<!--</c:forEach>-->
						
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 加入其它信息 -->
	<div class="row" >
		<div class="col-sm-8">
			<div class="panel panel-default" >
				<div class="panel-heading" style=" padding:3px;height:30px;"  >
					<span class="glyphicon glyphicon-refresh"></span>学生专业分布
				</div>
				<div class="panel-body">
					<table class="highchart" style="display:none; "
					       data-graph-container-before="1"  data-graph-height="250" data-graph-type="column" >
						
						<thead>
						<tr>
							<th >专业</th>
							<th >人数 </th>
						</tr>
						</thead>
						<tbody>
						<!--<c:forEach items="${reportInfo.getStudentProList }"  var="pro">-->
							<tr >
								<td>计算机</td>
								<td >11</td>
							</tr>
						<tr >
							<td>软件开发</td>
							<td >11</td>
						</tr>
						<!--</c:forEach>-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading"  style=" padding:3px;height:30px;"  >
					<span class="glyphicon glyphicon-refresh"></span>学生专业数量
				</div>
				<table class="table table-bordered">
					<thead>
					<tr>
						<th bgcolor="#f08080">专业</th>
						<th bgcolor="#00bfff">人数</th>
					</tr>
					</thead>
					<tbody>
					<!--<c:forEach items="${reportInfo.getStudentProList }"  var="pro">-->
					<tr bgcolor="#5f9ea0">
						<td>计算机</td>
						<td>23</td>
					</tr>
					<tr bgcolor="#5f9ea0">
						<td>软件开发</td>
						<td>13</td>
					</tr>
					<!--</c:forEach>-->
					</tbody>
				</table>
			</div>
		</div>
	</div>
  </div>
	</div>
</div>
</div>
</body>
</html>