<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教室管理</title>
    <script>
        var vm = new Vue({
            router:router,
            el:"#showClassroomInfo",
            //在页面加载的时候就被created()添加了数据
            data:{
                classroomName:'',
                currentPage:1,
                total:'',
                totalPage:'',
                list:[]
            },
            /*方法执行前*/
            created(){
                this.getAllList();
            },
            methods:{
                /*分页处理*/
                changePage(data){
                    if(data === "pre"){
                        this.currentPage-=1;
                        if(this.disciplineName.trim() === '')
                            this.getAllList();
                        else
                            this.showLessonInfo(this.currentPage);
                    }else if(data === "next"){
                        this.currentPage+=1;
                        if(this.disciplineName.trim() === '')
                            this.getAllList();
                        else
                            this.showLessonInfo(this.currentPage);
                    }
                },

                //根据选择框的页数查询数据
                selectPage(){
                    this.currentPage=$("[name='currentPage']").val();
                    this.getAllList();
                },

                /*查询所有课程信息*/
                getAllList(){
                    this.$http.get("developmentManage/info/listLessonManage/"+this.currentPage).then(result => {
                        this.common(result);
                    })
                },

                /*根据课程名称查询课程信息*/
                showLessonInfo(currentPage){
                    this.disciplineName=$("[name='disciplineName']").val();
                    this.$http.post("developmentManage/info/listLessonManageLike",{disciplineName:this.disciplineName , currentPage:currentPage}).then(result => {
                        this.common(result);
                    })
                },

                //删除课程信息
                del(id){
                    this.$http.delete("developmentManage/info/deleteDiscipline/"+id).then(result => {
                        var result=result.body;
                        if (result==true){
                            toastr.success("删除成功");
                            this.getAllList();
                        } else{
                            toastr.warning("删除失败");
                        }
                    })
                },

                //更新加载页面
                update(){
                    $('#content-change-main').load("saveOrUpdate/saveOrUpdateLesson",function(){});
                },

                //通用的数据绑定
                common(result){
                    var result=result.body;
                    if(result.status === 0){
                        this.list = result.list;
                        this.total = result.total;
                        this.currentPage = result.currentPage;
                        this.totalPage = result.totalPage;
                    }else{
                        toastr.error("获取数据失败");
                    }
                }
            }
        })
    </script>
</head>
<body>
<div>
    <div class="page-header">
        <!--查询教室、添加教室-->
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <div class="search-field">
                <form class="d-flex align-items-center h-100" id="showClassroomInfo">
                    <div class="input-group">
                        <div style="margin-top: 5px">
                            <i class="input-group-text border-0 mdi mdi-magnify" style="height: 31px"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0" placeholder="教室名称">
                    </div>
                    <button type="submit" class="btn btn-gradient-info btn-sm">查询</button>
                    <button type="button" style="margin-left: 40px" name="updateOrSave" class="btn btn-gradient-primary btn-sm">添加教室信息</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <p class="card-description">
                        教室管理 <code>classroomManage</code>
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr align="center">
                                <th>教室名称</th>
                                <th>容纳人数</th>
                                <th>设备信息</th>
                                <th>修改</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr align="center">
                                <td class="text-danger"> 28.76% <i class="mdi mdi-arrow-down"></i></td>
                                <td><label class="badge badge-danger">Pending</label></td>
                                <td><label class="badge badge-danger">Pending</label></td>
                                <td><button type="button" class="btn btn-gradient-warning btn-sm">修改</button></td>
                                <td><button type="button" class="btn btn-gradient-danger btn-sm">删除</button></td>
                            </tr>
                            <tr>
                                <td colspan="5" align="center">
                                <span class="card-description">
                                    共 <code>1</code>条数据
                                </span>
                                    <button type="button" style="margin-left: 40px" class="btn btn-gradient-success btn-sm">上一页</button>
                                    <button type="button" style="margin-left: 40px" class="btn btn-gradient-success btn-sm">下一页</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("[name='updateOrSave']").on('click',function(){
            $('#content-change-main').load("saveOrUpdate/saveOrUpdateClassroom",function(){});
        });
    });
</script>
</body>
</html>