<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级事务</title>
</head>
<body>
<div>
    <div class="page-header">
        <!--查询班级事务、添加班级事务-->
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <div class="search-field">
                <form class="d-flex align-items-center h-100" action="#">
                    <div class="input-group">
                        <div style="margin-top: 5px">
                            <i class="input-group-text border-0 mdi mdi-magnify" style="height: 31px"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0" placeholder="班级主题">
                    </div>
                    <button type="submit" class="btn btn-gradient-info btn-sm">查询</button>
                    <button type="button" style="margin-left: 40px" name="updateOrSave" class="btn btn-gradient-primary btn-sm">添加班级事务</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <p class="card-description">
                        班级事务 <code>gradeclassManage</code>
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr align="center">
                                <th>班级</th>
                                <th>主题</th>
                                <th>内容</th>
                                <th>组织人</th>
                                <th>活动日期</th>
                                <th>修改</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr align="center">
                                <td>Jacob</td>
                                <td>Photoshop</td>
                                <td>Photoshop</td>
                                <td><label class="badge badge-danger">Pending</label></td>
                                <td><label class="badge badge-danger">Pending</label></td>
                                <td><button type="button" class="btn btn-gradient-warning btn-sm">修改</button></td>
                                <td><button type="button" class="btn btn-gradient-danger btn-sm">删除</button></td>
                            </tr>
                            <tr>
                                <td colspan="7" align="center">
                                <span class="card-description">
                                    共 <code>1</code>条数据
                                </span>
                                    <button type="button" style="margin-left: 40px" class="btn btn-gradient-success btn-sm">上一页</button>
                                    <button type="button" style="margin-left: 40px" class="btn btn-gradient-success btn-sm">下一页</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("[name='updateOrSave']").on('click',function(){
            $('#content-change-main').load("saveOrUpdate/saveOrUpdateGradeTransaction",function(){});
        });
    });
</script>
</body>
</html>