<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
    <script>
        //全局配置根域名
        Vue.http.options.root="";
        //全局启用 emulateJSON 渲染
        Vue.http.options.emulateJSON = true;

        var vm=new Vue({
            el:"#showLessonInfo",
            data:{
              currentPage:1,
              total:'',
              totalPage:'',
              list:[

              ]
            },
            created(){
                this.getAllList();
            },
            methods:{
                changePage(data){
                    if(data === "pre"){
                        this.currentPage-=1;
                        this.getAllList();
                    }else if(data === "next"){
                        this.currentPage+=1;
                        this.getAllList();
                    }
                },
                getAllList(){
                    this.$http.get("developmentManage/info/lessonManage/"+this.currentPage).then(result => {
                        var result=result.body;
                        if(result.status === 0){
                            this.list = result.list;
                            this.total = result.total;
                            this.currentPage = result.currentPage;
                            this.totalPage = result.totalPage;
                        }else{
                            alert("获取数据失败");
                        }
                    })
                }
            }
        })
    </script>
</head>
<body>
<div>
	<div class="page-header">
        <!--查询课程、添加课程-->
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <div class="search-field">
                <form class="d-flex align-items-center h-100" action="#">
                    <div class="input-group">
                        <div style="margin-top: 5px">
                            <i class="input-group-text border-0 mdi mdi-magnify" style="height: 31px"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0" placeholder="课程名称">
                    </div>
                    <button type="submit" class="btn btn-gradient-info btn-sm">查询</button>
                    <button type="button" style="margin-left: 40px" name="updateOrSave" class="btn btn-gradient-primary btn-sm">添加课程信息</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <p class="card-description">
                        课程管理 <code>lessonManage</code>
                    </p>
                    <div class="table-responsive" id="showLessonInfo">
                        <table class="table">
                            <thead>
                            <tr align="center">
                                <th>课程编号</th>
                                <th>课程名称</th>
                                <th>学时</th>
                                <th>学分</th>
                                <th>课程类型</th>
                                <th>修改</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in list" align="center">
                                <td>{{item.disciplineNo}}</td>
                                <td>{{item.disciplineName}}</td>
                                <td>{{item.disciplineBring}}</td>
                                <td>{{item.disciplineTuition}}</td>
                                <td>{{item.disciplineType}}</td>
                                <td><button type="button" class="btn btn-gradient-warning btn-sm">修改</button></td>
                                <td><button type="button" class="btn btn-gradient-danger btn-sm">删除</button></td>
                            </tr>
                            <tr>
                                <td colspan="7" align="center">
                                    <span class="card-description">
                                        共 <code>{{total}}</code>条数据
                                    </span>
                                    <span style="margin-left: 40px" class="card-description">
                                        第 <code>{{currentPage}}</code>页
                                    </span>
                                    <button type="button" v-if="currentPage>1" style="margin-left: 40px" @click="changePage('pre')" class="btn btn-gradient-success btn-sm">上一页</button>
                                    <button type="button" v-if="currentPage<totalPage" style="margin-left: 40px" @click="changePage('next')" class="btn btn-gradient-success btn-sm">下一页</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("[name='updateOrSave']").on('click',function(){
            /*$("#myModalLabel").text("新增");
            $('#myModal').modal();*/
            $('#content-change-main').load("saveOrUpdate/saveOrUpdateLesson",function(){});
        });
    });
</script>
    <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-title">课程信息</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txt_departmentname">部门名称</label>
                    <input type="text" name="txt_departmentname" class="form-control" id="txt_departmentname" placeholder="部门名称">
                </div>
                <div class="form-group">
                    <label for="txt_parentdepartment">上级部门</label>
                    <input type="text" name="txt_parentdepartment" class="form-control" id="txt_parentdepartment" placeholder="上级部门">
                </div>
                <div class="form-group">
                    <label for="txt_departmentlevel">部门级别</label>
                    <input type="text" name="txt_departmentlevel" class="form-control" id="txt_departmentlevel" placeholder="部门级别">
                </div>
                <div class="form-group">
                    <label for="txt_statu">描述</label>
                    <input type="text" name="txt_statu" class="form-control" id="txt_statu" placeholder="状态">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-gradient-success btn-sm">提交更改</button>
                <button type="button" class="btn btn-gradient-primary btn-sm">重置</button>
            </div>
        </div>
    </div>
</div>-->
</body>
</html>