<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>听课记录</title>
</head>
<body>
<div>
    <div class="page-header">
        <!--查询听课记录、添加听课记录-->
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <div class="search-field">
                <form class="d-flex align-items-center h-100" action="#">
                    <div class="input-group">
                        <div style="margin-top: 5px">
                            <i class="input-group-text border-0 mdi mdi-magnify" style="height: 31px"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0" placeholder="教师姓名">
                        <input type="text" class="form-control bg-transparent border-0" placeholder="所听课程">
                    </div>
                    <button type="submit" class="btn btn-gradient-info btn-sm">查询</button>
                    <button type="button" style="margin-left: 40px" name="updateOrSave" class="btn btn-gradient-primary btn-sm">添加记录</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <p class="card-description">
                        听课记录 <code>listenClassWriteDown</code>
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr align="center">
                                <th>教师姓名</th>
                                <th>所听课程</th>
                                <th>听课记录</th>
                                <th>听课时间</th>
                                <th>听课地点</th>
                                <th>修改</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr align="center">
                                <td>Jacob</td>
                                <td>Photoshop</td>
                                <td class="text-danger"> 28.76% <i class="mdi mdi-arrow-down"></i></td>
                                <td><label class="badge badge-danger">Pending</label></td>
                                <td><label class="badge badge-danger">Pending</label></td>
                                <td><button type="button" class="btn btn-gradient-warning btn-sm">修改</button></td>
                                <td><button type="button" class="btn btn-gradient-danger btn-sm">删除</button></td>
                            </tr>
                            <tr>
                                <td colspan="7" align="center">
                                <span class="card-description">
                                    共 <code>1</code>条数据
                                </span>
                                    <button type="button" style="margin-left: 40px" class="btn btn-gradient-success btn-sm">上一页</button>
                                    <button type="button" style="margin-left: 40px" class="btn btn-gradient-success btn-sm">下一页</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("[name='updateOrSave']").on('click',function(){
            $('#content-change-main').load("saveOrUpdate/saveOrUpdateListenClassWriteDown",function(){});
        });
    });
</script>
</body>
</html>