<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.AuditionInfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.education.entity.AuditionInfo">
        <id column="audition_id" property="auditionId" />
        <result column="student_id" property="studentId" />
        <result column="audition_time" property="auditionTime" />
        <result column="audition_addr" property="auditionAddr" />
        <result column="audition_course" property="auditionCourse" />
        <result column="audition_desc" property="auditionDesc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        audition_id, student_id, audition_time, audition_addr, audition_course, audition_desc
    </sql>

</mapper>
