<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.ClassTransactionInfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.education.entity.ClassTransactionInfo">
        <id column="class_transaction_id" property="classTransactionId" />
        <result column="class_id" property="classId" />
        <result column="class_transaction_title" property="classTransactionTitle" />
        <result column="class_transaction_content" property="classTransactionContent" />
        <result column="class_transaction_person" property="classTransactionPerson" />
        <result column="class_transaction_time" property="classTransactionTime" />
        <result column="class_transaction_remark" property="classTransactionRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        class_transaction_id, class_id, class_transaction_title, class_transaction_content, class_transaction_person, class_transaction_time, class_transaction_remark
    </sql>

</mapper>
