<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.EmailInfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.education.entity.EmailInfo">
        <id column="email_id" property="emailId" />
        <result column="staff_id" property="staffId" />
        <result column="email_title" property="emailTitle" />
        <result column="email_content" property="emailContent" />
        <result column="email_time" property="emailTime" />
        <result column="email_man" property="emailMan" />
        <result column="email_addr" property="emailAddr" />
        <result column="email_state" property="emailState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        email_id, staff_id, email_title, email_content, email_time, email_man, email_addr, email_state
    </sql>

</mapper>
