<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.EvaluationXueqiMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.education.entity.EvaluationXueqi">
        <id column="evaluation_id" property="evaluationId" />
        <result column="student_id" property="studentId" />
        <result column="discipline_id" property="disciplineId" />
        <result column="staff_id" property="staffId" />
        <result column="class_id" property="classId" />
        <result column="evaluation_xueqi" property="evaluationXueqi" />
        <result column="evaluation_month" property="evaluationMonth" />
        <result column="evaluation_major" property="evaluationMajor" />
        <result column="evaluation_content" property="evaluationContent" />
        <result column="evaluation_time" property="evaluationTime" />
        <result column="evaluation_note" property="evaluationNote" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        evaluation_id, student_id, discipline_id, staff_id, class_id, evaluation_xueqi, evaluation_month, evaluation_major, evaluation_content, evaluation_time, evaluation_note
    </sql>

</mapper>
