<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.MarketActiveMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.education.entity.MarketActive">
        <id column="active_id" property="activeId" />
        <result column="staff_id" property="staffId" />
        <result column="active_name" property="activeName" />
        <result column="active_state" property="activeState" />
        <result column="active_start" property="activeStart" />
        <result column="active_end" property="activeEnd" />
        <result column="active_type" property="activeType" />
        <result column="active_coste_emtimate" property="activeCosteEmtimate" />
        <result column="active_coste" property="activeCoste" />
        <result column="active_refect_estimate" property="activeRefectEstimate" />
        <result column="active_student" property="activeStudent" />
        <result column="active_content" property="activeContent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        active_id, staff_id, active_name, active_state, active_start, active_end, active_type, active_coste_emtimate, active_coste, active_refect_estimate, active_student, active_content
    </sql>

</mapper>
