<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.MessafeInfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.education.entity.MessafeInfo">
        <id column="messafe_id" property="messafeId" />
        <result column="staff_id" property="staffId" />
        <result column="messafe_content" property="messafeContent" />
        <result column="messafe_man" property="messafeMan" />
        <result column="messafe_phone" property="messafePhone" />
        <result column="messafe_time" property="messafeTime" />
        <result column="messafe_state" property="messafeState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        messafe_id, staff_id, messafe_content, messafe_man, messafe_phone, messafe_time, messafe_state
    </sql>

</mapper>
