<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.StaffInfoMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.education.entity.StaffInfo">
        <id column="staff_id" property="staffId" />
        <result column="role_id" property="roleId" />
        <result column="staff_name" property="staffName" />
        <result column="staff_sex" property="staffSex" />
        <result column="staff_age" property="staffAge" />
        <result column="staff_native_place" property="staffNativePlace" />
        <result column="staff_idcard" property="staffIdcard" />
        <result column="staff_brithday" property="staffBrithday" />
        <result column="staff_office_phone" property="staffOfficePhone" />
        <result column="staff_mobile_phone" property="staffMobilePhone" />
        <result column="staff_eamil" property="staffEamil" />
        <result column="staff_addr" property="staffAddr" />
        <result column="staff_qq" property="staffQq" />
        <result column="staff_entry_time" property="staffEntryTime" />
        <result column="staff_eduction_level" property="staffEductionLevel" />
        <result column="staff_remark" property="staffRemark" />
        <result column="staff_state" property="staffState" />
        <result column="user_number" property="userNumber" />
        <result column="user_passowrd" property="userPassowrd" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        staff_id, role_id, staff_name, staff_sex, staff_age, staff_native_place, staff_idcard, staff_brithday, staff_office_phone, staff_mobile_phone, staff_eamil, staff_addr, staff_qq, staff_entry_time, staff_eduction_level, staff_remark, staff_state, user_number, user_passowrd
    </sql>

</mapper>
