<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.StudentLearnExperienceMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.education.entity.StudentLearnExperience">
        <id column="student_learn_id" property="studentLearnId" />
        <result column="student_id" property="studentId" />
        <result column="staff_id" property="staffId" />
        <result column="learn_allyears" property="learnAllyears" />
        <result column="learn_school" property="learnSchool" />
        <result column="learn_position" property="learnPosition" />
        <result column="reg_time" property="regTime" />
        <result column="learn_note" property="learnNote" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        student_learn_id, student_id, staff_id, learn_allyears, learn_school, learn_position, reg_time, learn_note
    </sql>

</mapper>
