<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.StudentGraduationThesisMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.education.entity.StudentGraduationThesis">
        <id column="student_paper_id" property="studentPaperId" />
        <result column="student_id" property="studentId" />
        <result column="staff_id" property="staffId" />
        <result column="paper_title" property="paperTitle" />
        <result column="paper_teacher" property="paperTeacher" />
        <result column="paper_start" property="paperStart" />
        <result column="paper_time" property="paperTime" />
        <result column="paper_score" property="paperScore" />
        <result column="paper_comments" property="paperComments" />
        <result column="reg_time" property="regTime" />
        <result column="paper_note" property="paperNote" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        student_paper_id, student_id, staff_id, paper_title, paper_teacher, paper_start, paper_time, paper_score, paper_comments, reg_time, paper_note
    </sql>

</mapper>
