<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.StudentWriteGradeMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.education.entity.StudentWriteGrade">
        <id column="write_grade_id" property="writeGradeId" />
        <result column="student_id" property="studentId" />
        <result column="staff_id" property="staffId" />
        <result column="class_id" property="classId" />
        <result column="discipline_id" property="disciplineId" />
        <result column="write_grade" property="writeGrade" />
        <result column="write_grade_time" property="writeGradeTime" />
        <result column="write_grade_note" property="writeGradeNote" />
        <result column="write_grade_xuenian" property="writeGradeXuenian" />
        <result column="write_grade_xueqi" property="writeGradeXueqi" />
        <result column="write_grade_type" property="writeGradeType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        write_grade_id, student_id, staff_id, class_id, discipline_id, write_grade, write_grade_time, write_grade_note, write_grade_xuenian, write_grade_xueqi, write_grade_type
    </sql>

</mapper>
