<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加、修改课程信息</title>
    <script>
        Vue.http.options.emulateJSON = true;

        var vm = new Vue({
            el:"#lessonForm",
            //在页面加载的时候就被created()添加了数据
            data:{
                list:[]
            },
            /*方法执行前*/
            created(){
                this.condition();
            },
            methods:{
                /*查询所有课程信息*/
                condition(){
                    var disciplineId=this.getUrlKey("disciplineId");
                    //判断是否添加或修改
                    if(disciplineId==null){
                    }else{
                        this.$http.get("disciplineInfo/saveOrUpdate/condition/"+disciplineId).then(result => {
                            this.common(result);
                        })
                    }
                },
                //解析前端路由的url
                getUrlKey(name){
                    return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [, ""])[1].replace(/\+/g, '%20')) || null
                },
                /*通用的数据绑定*/
                common(result){
                    var result=result.body;
                    if(result.status === 0){
                        this.list=result.lessonInfo;
                    }else{
                        toastr.error("获取数据失败");
                    }
                },
                /*更新或保存*/
                submit(){
                    if(this.list.disciplineId == undefined){
                        //添加操作
                        $.post("disciplineInfo/saveLesson",$("#lessonForm").serialize(),function(result) {
                            if(result=="true"){
                                toastr.success("添加成功");
                                $('#content-change-main').load("disciplineInfo/lessonManage.html",function(){});
                            }else{
                                toastr.error("添加失败");
                            }
                        })
                    }else{
                        //修改操作
                        $.post("disciplineInfo/updateLesson/"+this.list.disciplineId,$("#lessonForm").serialize(),function (result) {
                            if(result=="true"){
                                toastr.success("修改成功");
                                $('#content-change-main').load("disciplineInfo/lessonManage.html",function(){});
                            }else{
                                toastr.error("修改失败");
                            }
                        })
                    }
                }
            }
        })
    </script>
</head>
<body>
    <script>
        //回退
        $(function () {
            $("[name='backToDisplay']").click(function () {
                $('#content-change-main').load("disciplineInfo/lessonManage.html",function(){});
            })
        })
    </script>
    <div class="row">
        <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="modal-header">
                    <h3 class="card-title">developmentManage / saveOrUpdateLesson/</h3>
                    <button type="button" name="backToDisplay" class="btn btn-gradient-info btn-sm">返回</button>
                </div>
                <form class="form-sample" id="lessonForm" @submit.prevent="submit">
                    <input v-if="list.disciplineId!=undefined" name="_method" value="put" hidden="hidden">
                    <p class="card-description">
                        课程信息
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">编号</label>
                                <div class="col-sm-9">
                                    <input disabled="disabled" v-model="list.disciplineId" type="text" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">课程编号</label>
                                <div class="col-sm-9">
                                    <input type="text" name="disciplineNo" v-model="list.disciplineNo" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">课程名称</label>
                                <div class="col-sm-9">
                                    <input type="text" name="disciplineName" v-model="list.disciplineName" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">学时</label>
                                <div class="col-sm-9">
                                    <input type="text" name="disciplineBring" v-model="list.disciplineBring" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">学分</label>
                                <div class="col-sm-9">
                                    <input type="text" name="disciplineTuition" v-model="list.disciplineTuition" class="form-control form-control-sm"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">课程类型</label>
                                <div class="col-sm-9">
                                    <select v-if="list.disciplineId!=undefined" name="disciplineType" v-model="list.disciplineType" class="form-control">
                                        <option value="必修">必修</option>
                                        <option value="选修">选修</option>
                                    </select>
                                    <select v-if="list.disciplineId==undefined" name="disciplineType" class="form-control">
                                        <option value="必修">必修</option>
                                        <option value="选修">选修</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="card-description">
                        课程描述
                    </p>
                    <div class="form-group">
                        <label>课程描述</label>
                        <textarea class="form-control" name="disciplineDesc" v-model="list.disciplineDesc" rows="4"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-12" align="center">
                            <button type="submit" style="margin-left: 40px" class="btn btn-gradient-success btn-sm">保存</button>
                            <button type="button" style="margin-left: 40px" class="btn btn-gradient-success btn-sm">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>