<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加、修改教师信息</title>
    <!--bootstrap的时间控件-->
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.css}">
    <script th:src="@{/js/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script>
        new Vue({
            el:"#teacherForm",
            //在页面加载的时候就被created()添加了数据
            data:{
                list:[]
            },
            /*方法执行前*/
            created(){
                this.condition();
            },
            methods:{
                /*查询教师信息*/
                condition(){
                    var staffId=this.getUrlKey("staffId");
                    //判断是否添加或修改
                    if(staffId==null){
                    }else{
                        this.$http.get("staffInfo/saveOrUpdate/condition/"+staffId).then(result => {
                            this.common(result);
                        })
                    }
                },
                //解析前端路由的url
                getUrlKey(name){
                    return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [, ""])[1].replace(/\+/g, '%20')) || null
                },
                /*通用的数据绑定*/
                common(result){
                    var result=result.body;
                    if(result.status === 0){
                        this.list=result.staffInfo;
                        this.dateFormat(this.list);
                    }else{
                        toastr.error("获取数据失败");
                    }
                },
                /*更新或保存*/
                submit(){
                    if(this.list.staffId == undefined){
                        //添加操作
                        $.post("staffInfo/saveTeacher",$("#teacherForm").serialize(),function(result) {
                            if(result=="true"){
                                toastr.success("添加成功");
                                $('#content-change-main').load("developmentManage/teacherManage.html",function(){});
                            }else{
                                toastr.error("添加失败");
                            }
                        })
                    }else{
                        //修改操作
                        $.post("staffInfo/updateTeacher/"+this.list.staffId,$("#teacherForm").serialize(),function (result) {
                            if(result=="true"){
                                toastr.success("修改成功");
                                $('#content-change-main').load("developmentManage/teacherManage.html",function(){});
                            }else{
                                toastr.error("修改失败");
                            }
                        })
                    }
                },
                //解析时间
                dateFormat(list){
                    list.staffEntryTime=dateFormat(list.staffEntryTime);
                    list.staffBrithday=dateFormat(list.staffBrithday);
                }
            }
        })
    </script>
</head>
<body>
    <script>
        $(function () {
            $("[name='backToDisplay']").click(function () {
                $('#content-change-main').load("developmentManage/teacherManage.html",function(){});
            })
        });
        $("#birthTime").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            language: 'zh-CN',
            autoclose:true,
        });
        $("#entryTime").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            language: 'zh-CN',
            autoclose:true,
        });
    </script>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="modal-header">
                        <h3 class="card-title">Horizontal Two column</h3>
                        <button type="button" name="backToDisplay" class="btn btn-gradient-info btn-sm">返回</button>
                    </div>
                    <form class="form-sample" id="teacherForm" ref="teacherForm">
                        <input v-if="list.staffId!=undefined" name="_method" value="put" hidden="hidden">
                        <p class="card-description">
                            教师信息
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">编号</label>
                                    <div class="col-sm-9">
                                        <input readonly="readonly" v-model="list.staffId" type="text" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">姓名</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="staffName" v-model="list.staffName" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">年龄</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="staffAge" v-model="list.staffAge" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">性别</label>
                                    <div class="col-sm-4">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="staffSex" v-model="list.staffSex" value="男">
                                                男
                                                <i class="input-helper"></i></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="staffSex" v-model="list.staffSex" id="membershipRadios2" value="女">
                                                女
                                                <i class="input-helper"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">籍贯</label>
                                    <div class="col-sm-9">
                                        <select name="staffNativePlace" class="form-control form-sm">
                                            <option value="江西">江西</option>
                                            <option value="湖北">湖北</option>
                                            <option value="湖南">湖南</option>
                                            <option value="河南">河南</option>
                                            <option value="山东">山东</option>
                                            <option value="江苏">江苏</option>
                                            <option value="安徽">安徽</option>
                                            <option value="浙江">浙江</option>
                                            <option value="福建">福建</option>
                                            <option value="上海">上海</option>
                                            <option value="广东">广东</option>
                                            <option value="广西">广西</option>
                                            <option value="海南">海南</option>
                                            <option value="北京">北京</option>
                                            <option value="天津">天津</option>
                                            <option value="河北">河北</option>
                                            <option value="山西">山西</option>
                                            <option value="内蒙古">内蒙古</option>
                                            <option value="宁夏">宁夏</option>
                                            <option value="新疆">新疆</option>
                                            <option value="青海">青海</option>
                                            <option value="陕西">陕西</option>
                                            <option value="甘肃">甘肃</option>
                                            <option value="四川">四川</option>
                                            <option value="云南">云南</option>
                                            <option value="贵州">贵州</option>
                                            <option value="西藏">西藏</option>
                                            <option value="重庆">重庆</option>
                                            <option value="辽宁">辽宁</option>
                                            <option value="吉林">吉林</option>
                                            <option value="黑龙江">黑龙江</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">身份证</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="staffIdcard" v-model="list.staffIdcard" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">出生日期</label>
                                    <div class="col-sm-9">
                                        <input id="birthTime" type="text" readonly name="staffBrithday" v-model="list.staffBrithday" class="form-control form-control-sm"  data-date-format="yyyy-mm-dd hh:ii:ss"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">办公电话</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="staffOfficePhone" v-model="list.staffOfficePhone" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">电子邮件</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="staffEamil" v-model="list.staffEamil" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">移动电话</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="staffMobilePhone" v-model="list.staffMobilePhone" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">家庭住址</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="staffAddr" v-model="list.staffAddr" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">QQ</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="staffQq" v-model="list.staffQq" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">入职时间</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="entryTime" readonly name="staffEntryTime" v-model="list.staffEntryTime" class="form-control form-control-sm"  data-date-format="yyyy-mm-dd hh:ii:ss"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">教育水平</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="staffEductionLevel" v-model="list.staffEductionLevel" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">账号</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="userNumber" v-model="list.userNumber" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">密码</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="userPassowrd" v-model="list.userPassowrd" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>备注</label>
                            <textarea class="form-control" name="staffRemark" v-model="list.staffRemark" rows="4"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-12" align="center">
                                <button type="button" @click="submit" style="margin-left: 40px" class="btn btn-gradient-success btn-sm">保存</button>
                                <button type="button" name="backToDisplay" style="margin-left: 40px" class="btn btn-gradient-success btn-sm">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>