<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加、修改考勤信息</title>
    <script>
        new Vue({
            el:"#attendanceForm",
            //在页面加载的时候就被created()添加了数据
            data:{
                list:[]
            },
            /*方法执行前*/
            created(){
                this.condition();
            },
            methods:{
                /*查询课程信息*/
                condition(){
                    var attendanceId=this.getUrlKey("attendanceId");
                    //判断是否添加或修改
                    if(attendanceId==null){ //添加
                        this.$http.get("attendanceInfo/saveOrUpdate/condition").then(result =>{
                            this.list = result.body.list;
                        })
                    }else{
                        this.$http.get("attendanceInfo/saveOrUpdate/condition/"+attendanceId).then(result => {
                            this.common(result);
                        })
                    }
                },
                //解析前端路由的url
                getUrlKey(name){
                    return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [, ""])[1].replace(/\+/g, '%20')) || null
                },
                /*通用的数据绑定*/
                common(result){
                    var result=result.body;
                    if(result.status === 0){
                        this.list=result.attendanceInfo;
                    }else{
                        toastr.error("获取数据失败");
                    }
                },
                /*更新或保存*/
                submit(){
                    if(this.list.attendanceId == undefined){
                        //添加操作
                        $.post("attendanceInfo/saveAttendance",$("#attendanceForm").serialize(),function(result) {
                            if(result=="true"){
                                toastr.success("添加成功");
                                $('#content-change-main').load("studentManager/attendanceInfo.html",function(){});
                            }else{
                                toastr.error("添加失败");
                            }
                        })
                    }else{
                        //修改操作
                        $.post("attendanceInfo/updateAttendance",$("#attendanceForm").serialize(),function (result) {
                            if(result =="true"){
                                toastr.success("修改成功");
                                $('#content-change-main').load("studentManager/attendanceInfo.html",function(){});
                            }else{
                                toastr.error("修改失败");
                            }
                        })
                    }
                }
            }
        })
    </script>
</head>
<body>
    <script>
        //回退
        $(function () {
            $("[name='backToDisplay']").click(function () {
                $('#content-change-main').load("studentManager/attendanceInfo.html",function(){});
            })
        })
    </script>
    <div class="row">
        <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="modal-header">
                    <h3 class="card-title">studentManager / saveOrUpdateAttendance</h3>
                    <button type="button" name="backToDisplay" class="btn btn-gradient-info btn-sm">返回</button>
                </div>
                <form class="form-sample" id="attendanceForm">
                    <input v-if="list.attendanceId!=undefined" name="_method" value="put" hidden="hidden">
                    <input v-if="list.attendanceId!=undefined" name="studentId" v-model="list.studentInfo.studentId" type="hidden" />

                    <p class="card-description">
                        添加修改考勤
                    </p>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">编号</label>
                                <div class="col-sm-9">
                                    <input readonly name="attendanceId" v-model="list.attendanceId" type="text" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">学生姓名</label>
                                <div class="col-sm-9">
                                    <input v-if="list.attendanceId!=undefined"  readonly name="studentName" v-model="list.studentInfo.studentName" type="text" class="form-control form-control-sm" />
                                    <select v-else name="studentId" class="form-control">
                                        <option v-for="item in list" :value="item.studentId">{{item.studentName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">考情情况</label>
                                <div class="col-sm-9">
                                    <select v-if="list.attendanceId!=undefined" name="attendanceState" v-model="list.attendanceState" class="form-control">
                                        <option value="缺席">缺席</option>
                                        <option value="出席">出席</option>
                                    </select>
                                    <select v-else name="attendanceState" class="form-control">
                                        <option value="缺席">缺席</option>
                                        <option value="出席">出席</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">考情日期</label>
                                <div class="col-sm-9">
                                    <input type="text" name="attendanceTime" v-model="list.attendanceTime" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">原因</label>
                                <div class="col-sm-9">
                                    <input type="text" name="attendanceDesc" v-model="list.attendanceDesc" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">学年</label>
                                <div class="col-sm-9">
                                    <select v-if="list.attendanceId!=undefined" name="attendanceXuenian" v-model="list.attendanceXuenian" class="form-control">
                                        <option value="2017-2018学年">2017-2018学年</option>
                                        <option value="2018-2019学年">2018-2019学年</option>
                                    </select>
                                    <select v-else name="attendanceXuenian" class="form-control">
                                        <option value="2017-2018学年">2017-2018学年</option>
                                        <option value="2018-2019学年">2018-2019学年</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">学期</label>
                                <div class="col-sm-9">
                                    <select v-if="list.attendanceId!=undefined" name="attendanceXueqi" v-model="list.attendanceXueqi" class="form-control">
                                        <option value="第一学期">第一学期</option>
                                        <option value="第二学期">第二学期</option>
                                    </select>
                                    <select v-else name="attendanceXueqi" class="form-control">
                                        <option value="第一学期">第一学期</option>
                                        <option value="第二学期">第二学期</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">月份</label>
                                <div class="col-sm-9">
                                    <select v-if="list.attendanceId!=undefined" name="attendanceMonth" v-model="list.attendanceMonth" class="form-control">
                                        <option value="1月">1月</option>
                                        <option value="2月">2月</option>
                                        <option value="3月">3月</option>
                                        <option value="4月">4月</option>
                                        <option value="5月">5月</option>
                                        <option value="6月">6月</option>
                                        <option value="7月">7月</option>
                                        <option value="8月">8月</option>
                                        <option value="9月">9月</option>
                                        <option value="10月">10月</option>
                                        <option value="11月">11月</option>
                                        <option value="12月">12月</option>
                                    </select>
                                    <select v-else name="attendanceMonth" class="form-control">
                                        <option value="1月">1月</option>
                                        <option value="2月">2月</option>
                                        <option value="3月">3月</option>
                                        <option value="4月">4月</option>
                                        <option value="5月">5月</option>
                                        <option value="6月">6月</option>
                                        <option value="7月">7月</option>
                                        <option value="8月">8月</option>
                                        <option value="9月">9月</option>
                                        <option value="10月">10月</option>
                                        <option value="11月">11月</option>
                                        <option value="12月">12月</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="card-description">
                        备注信息
                    </p>
                    <div class="form-group">
                        <label>备注信息</label>
                        <textarea class="form-control" name="attendanceRemark" v-model="list.attendanceRemark" rows="4"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-12" align="center">
                            <button type="button" @click="submit" style="margin-left: 40px" class="btn btn-gradient-success btn-sm">保存</button>
                            <button type="button" name="backToDisplay" style="margin-left: 40px" class="btn btn-gradient-success btn-sm">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>