<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班主任评价</title>
    <script>
        new Vue({
            router:router,
            el:"#showStudentWriteGradeInfo",
            //在页面加载的时候就被created()添加了数据
            data:{
                student_name:'',
                class_name:'',
                discipline_name:'',
                writeGradeXuenian:'',
                writeGradeXueqi:'',
                classId:'',
                disciplineId:'',
                class_info:'',
                discipline_info:'',
                currentPage:1,
                total:'',
                totalPage:'',
                list:''
            },
            /*方法执行前*/
            created(){
                this.getAllList();
            },

            methods:{
                /*分页处理*/
                changePage(data){
                    if(data === "pre"){
                        this.currentPage-=1;
                    }else if(data === "next"){
                        this.currentPage+=1;
                    }
                    if(this.student_name.trim() === '' &&
                        this.writeGradeXuenian === '' &&
                        this.writeGradeXueqi === ''&&
                        this.classId=== 0 &&
                        this.disciplineId === 0
                    )
                        this.getAllList();
                    else
                        this.showStudentWriteGradeInfo(this.currentPage);
                },

                //根据选择框的页数查询数据
                selectPage(){
                    this.currentPage=$("[name='currentPage']").val();
                    this.showStudentWriteGradeInfo(this.currentPage);
                },

                /*查询所有课程信息*/
                getAllList(){
                    this.$http.get("studentWriteGradeInfo/selectAllStudentWriteGrade/"+this.currentPage).then(result => {
                        this.common(result);
                    });
                    this.getOtherList();
                },
                getOtherList(){
                    this.$http.get("studentWriteGradeInfo/selectAllClassInfo").then(result => {
                        this.class_info = result.body.list;
                    });
                    this.$http.get("studentWriteGradeInfo/selectAllDisciplineInfo").then(result => {
                        this.discipline_info = result.body.list;
                    });
                },

                /*根据条件查询课程信息*/
                showStudentWriteGradeInfo(currentPage){
                    this.student_name=$("[name='student_name']").val();
                    this.writeGradeXuenian=$("[name='writeGradeXuenian']").val();
                    this.writeGradeXueqi=$("[name='writeGradeXueqi']").val();
                    this.classId=$("[name='classId']").val();
                    this.disciplineId=$("[name='disciplineId']").val();
                    this.$http.post("studentWriteGradeInfo/listStudentWriteGradeLike",
                        {studentName:this.student_name ,
                            writeGradeXuenian:this.writeGradeXuenian,
                            writeGradeXueqi:this.writeGradeXueqi,
                            classId:this.classId,
                            disciplineId:this.disciplineId,
                            currentPage:currentPage}).then(result => {
                        this.common(result);
                    })
                },
                //删除课程信息
                del(id){
                    this.$http.delete("studentWriteGradeInfo/deleteStudentWriteGradeInfo/"+id).then(result => {
                        var result=result.body;
                        if (result==true){
                            toastr.success("删除成功");
                            this.getAllList();
                        } else{
                            toastr.warning("删除失败");
                        }
                    })
                },
                //更新加载页面
                update(){
                    $('#content-change-main').load("studentManager/saveOrUpdate/saveOrUpdateStudentWriteGrade.html",function(){});
                },

                //通用的数据绑定
                common(result){
                    var list=result.body;
                    if(list.status === 0){
                        this.list = list.list;
                        this.total = list.total;
                        this.currentPage = list.currentPage;
                        this.totalPage = list.totalPage;
                    }else{
                        toastr.error("获取数据失败");
                    }
                }
            }
        })
    </script>
</head>
<body>
<div id="showStudentWriteGradeInfo">
    <div class="page-header">
        <!--查询课程、添加课程-->
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <div class="search-field">
                <form class="d-flex align-items-center h-100" action="#">
                    <div class="input-group">
                        <div style="margin-top: 5px">
                            <i class="input-group-text border-0 mdi mdi-magnify" style="height: 31px"></i>
                        </div>
                        <select name="writeGradeXuenian" style="margin-left: 20px" class="form-control form-control-sm">
                            <option selected value="">请选择学年</option>
                            <option value="2017-2018学年">2017-2018学年</option>
                            <option value="2018-2019学年">2018-2019学年</option>
                        </select>
                        <select name="writeGradeXueqi" style="margin-left: 20px" class="form-control form-control-sm">
                            <option selected value="">请选择学期</option>
                            <option value="第一学期">第一学期</option>
                            <option value="第二学期">第二学期</option>
                        </select>
                        <select name="classId" style="margin-left: 20px" class="form-control form-control-sm">
                            <option selected value="0">请选择班级</option>
                            <option v-for="item in class_info" :value="item.classId">{{item.className}}</option>
                        </select>
                        <select name="disciplineId" style="margin-left: 20px" class="form-control form-control-sm">
                            <option selected value="0">请选择课程</option>
                            <option v-for="item in discipline_info" :value="item.disciplineId">{{item.disciplineName}}</option>
                        </select>
                        <input type="text" name="student_name" class="form-control bg-transparent border-0" placeholder="学生姓名">
                    </div>

                    <button type="button" @click="showStudentWriteGradeInfo(1)" class="btn btn-gradient-info btn-sm">查询</button>
                    <router-link tag="button" style="margin-left: 20px" to="/" name="save" class="btn btn-gradient-primary btn-sm">添加评价信息</router-link>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <p class="card-description">
                        学生管理 / 期末成绩 <code>studentWriteGradeInfo</code>
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr align="center">
                                <th>学年</th>
                                <th>学期</th>
                                <th>班级</th>
                                <th>学生姓名</th>
                                <th>课程名</th>
                                <th>成绩</th>
                                <th>考试类型</th>
                                <th>登分人</th>
                                <th>登分日期</th>
                                <th>查看</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in list" align="center">
                                <td>{{item.writeGradeXuenian}}</td>
                                <td>{{item.writeGradeXueqi}}</td>
                                <td>{{item.classInfo.className}}</td>
                                <td>{{item.studentInfo.studentName}}</td>
                                <td>{{item.disciplineInfo.disciplineName}}</td>
                                <td>{{item.writeGrade}}</td>
                                <td>{{item.writeGradeType}}</td>
                                <td>{{item.staffInfo.staffName}}</td>
                                <td>{{dateFormat(item.writeGradeTime)}}</td>
                                <td @click="update()"><router-link tag="button" name="update" class="btn btn-gradient-warning btn-sm" :to="{path: 'update', query: { writeGradeId: item.writeGradeId }}">修改</router-link></td>
                                <td><button type="button" class="btn btn-gradient-danger btn-sm" @click="del(item.writeGradeId)">删除</button></td>
                            </tr>
                            <tr>
                                <td colspan="7" align="center">
                                    <span class="card-description">
                                        共 <code>{{total}}</code>条数据
                                    </span>
                                    <span style="margin-left: 25px" class="card-description">
                                        <!--第 <code>{{currentPage}}</code>页-->
                                        第&nbsp;
                                        <select name="currentPage" @change="selectPage()">
                                            <template v-for="item in totalPage" v-model="currentPage">
                                                <option v-if="item==currentPage" selected="selected" :value="item">{{item}}</option>
                                                <option v-else :value="item">{{item}}</option>
                                            </template>
                                        </select>
                                            &nbsp;&nbsp;页
                                    </span>
                                    <button type="button" v-if="currentPage>1" style="margin-left: 25px" @click="changePage('pre')" class="btn btn-gradient-success btn-sm">上一页</button>
                                    <button type="button" v-if="currentPage<totalPage" style="margin-left: 25px" @click="changePage('next')" class="btn btn-gradient-success btn-sm">下一页</button>
                                    <span style="margin-left: 25px" class="card-description">
                                        共 <code>{{totalPage}}</code>页
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("[name='save']").on('click',function(){
            $('#content-change-main').load("studentManager/saveOrUpdate/saveOrUpdateStudentWriteGrade.html",function(){});
        });
    });
</script>
</body>
</html>