<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twoGroup.educational.mapper.AnthortyInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.twoGroup.educational.entities.AnthortyInfo">
        <id column="anthorty_id" property="anthortyId" />
        <result column="anthorty_pid" property="anthortyPid" />
        <result column="anthorty_name" property="anthortyName" />
        <result column="anthorty_desc" property="anthortyDesc" />
        <result column="anthorty_url" property="anthortyUrl" />
	    <association property="anthortyDesc" resultMap="BaseResultMap"></association>
    </resultMap>

</mapper>
