<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TwoGroup.Educational.mapper.AttendanceInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.TwoGroup.Educational.entities.AttendanceInfo">
        <id column="attendance_id" property="attendanceId" />
        <result column="student_id" property="studentId" />
        <result column="staff_id" property="staffId" />
        <result column="attendance_desc" property="attendanceDesc" />
        <result column="attendance_state" property="attendanceState" />
        <result column="attendance_time" property="attendanceTime" />
        <result column="attendance_remark" property="attendanceRemark" />
        <result column="attendance_xuenian" property="attendanceXuenian" />
        <result column="attendance_xueqi" property="attendanceXueqi" />
        <result column="attendance_month" property="attendanceMonth" />
    </resultMap>

</mapper>
