<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twoGroup.educational.mapper.ClassTransactionInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.twoGroup.educational.entities.ClassTransactionInfo">
        <id column="class_transaction_id" property="classTransactionId" />
        <result column="class_id" property="classId" />
        <result column="class_transaction_title" property="classTransactionTitle" />
        <result column="class_transaction_content" property="classTransactionContent" />
        <result column="class_transaction_person" property="classTransactionPerson" />
        <result column="class_transaction_time" property="classTransactionTime" />
        <result column="class_transaction_remark" property="classTransactionRemark" />


<!--        class_id 班级号 关联class_info表class_id-->
        <association property="classInfo" javaType="classInfo">
            <id column="class_id" property="classId" />
            <result column="syllabus_id" property="syllabusId" />
            <result column="classroom_id" property="classroomId" />
            <result column="staff_id" property="staffId" />
            <result column="class_name" property="className" />
            <result column="class_number" property="classNumber" />
            <result column="class_start_time" property="classStartTime" />
            <result column="class_end_time" property="classEndTime" />
            <result column="class_isuesd" property="classIsuesd" />
            <result column="class_state" property="classState" />
            <result column="class_desc" property="classDesc" />
            <result column="class_major" property="classMajor" />
        </association>
    </resultMap>

</mapper>
