<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TwoGroup.Educational.mapper.EvaluationInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.TwoGroup.Educational.entities.EvaluationInfo">
        <id column="evaluation_id" property="evaluationId" />
        <result column="student_id" property="studentId" />
        <result column="discipline_id" property="disciplineId" />
        <result column="staff_id" property="staffId" />
        <result column="class_id" property="classId" />
        <result column="evaluation_xueqi" property="evaluationXueqi" />
        <result column="evaluation_month" property="evaluationMonth" />
        <result column="evaluation_major" property="evaluationMajor" />
        <result column="score1" property="score1" />
        <result column="score2" property="score2" />
        <result column="score3" property="score3" />
        <result column="score4" property="score4" />
        <result column="score5" property="score5" />
        <result column="score6" property="score6" />
        <result column="sum" property="sum" />
        <result column="evaluation_time" property="evaluationTime" />
        <result column="evaluation_note" property="evaluationNote" />
    </resultMap>

</mapper>
