<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twoGroup.educational.mapper.MarketActiveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.twoGroup.educational.entities.MarketActive">
        <id column="active_id" property="activeId" />
        <result column="staff_id" property="staffId" />
        <result column="active_name" property="activeName" />
        <result column="active_state" property="activeState" />
        <result column="active_start" property="activeStart" />
        <result column="active_end" property="activeEnd" />
        <result column="active_type" property="activeType" />
        <result column="active_coste_emtimate" property="activeCosteEmtimate" />
        <result column="active_coste" property="activeCoste" />
        <result column="active_refect_estimate" property="activeRefectEstimate" />
        <result column="active_student" property="activeStudent" />
        <result column="active_content" property="activeContent" />


	    <!--        staff_id 	 员工编号   关联staff_info 主键-->
	    <association property="staffInfo" javaType="com.twoGroup.educational.entities.StaffInfo">
		    <id column="staff_id" property="staffId" />
		    <result column="role_id" property="roleId" />
		    <result column="staff_name" property="staffName" />
		    <result column="staff_sex" property="staffSex" />
		    <result column="staff_age" property="staffAge" />
		    <result column="staff_native_place" property="staffNativePlace" />
		    <result column="staff_idcard" property="staffIdcard" />
		    <result column="staff_brithday" property="staffBrithday" />
		    <result column="staff_office_phone" property="staffOfficePhone" />
		    <result column="staff_mobile_phone" property="staffMobilePhone" />
		    <result column="staff_eamil" property="staffEamil" />
		    <result column="staff_addr" property="staffAddr" />
		    <result column="staff_qq" property="staffQq" />
		    <result column="staff_entry_time" property="staffEntryTime" />
		    <result column="staff_eduction_level" property="staffEductionLevel" />
		    <result column="staff_remark" property="staffRemark" />
		    <result column="staff_state" property="staffState" />
		    <result column="user_number" property="userNumber" />
		    <result column="user_passowrd" property="userPassowrd" />
		    <result column="staff_image" property="staffImage" />
	    </association>
    </resultMap>

	<select id="selectList" resultMap="BaseResultMap">
		SELECT *,si.* FROM market_active AS ma
		JOIN  staff_info AS si ON  ma.staff_id=si.staff_id
		WHERE 1=1
	</select>

	<select id="selectListLikeName" resultMap="BaseResultMap">
		SELECT *,si.* FROM market_active AS ma
		JOIN  staff_info AS si ON  ma.staff_id=si.staff_id
		WHERE 1=1
		<if test="activeState!=null and activeState!=0">
			AND active_state =#{activeState}
		</if>
		<if test="activeName!=null  and activeName!=''">
			AND active_name like '%${activeName}%'
		</if>
	</select>
</mapper>
