<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TwoGroup.Educational.mapper.StaffInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.TwoGroup.Educational.entities.StaffInfo">
        <id column="staff_id" property="staffId" />
        <result column="role_id" property="roleId" />
        <result column="staff_name" property="staffName" />
        <result column="staff_sex" property="staffSex" />
        <result column="staff_age" property="staffAge" />
        <result column="staff_native_place" property="staffNativePlace" />
        <result column="staff_idcard" property="staffIdcard" />
        <result column="staff_brithday" property="staffBrithday" />
        <result column="staff_office_phone" property="staffOfficePhone" />
        <result column="staff_mobile_phone" property="staffMobilePhone" />
        <result column="staff_eamil" property="staffEamil" />
        <result column="staff_addr" property="staffAddr" />
        <result column="staff_qq" property="staffQq" />
        <result column="staff_entry_time" property="staffEntryTime" />
        <result column="staff_eduction_level" property="staffEductionLevel" />
        <result column="staff_remark" property="staffRemark" />
        <result column="staff_state" property="staffState" />
        <result column="user_number" property="userNumber" />
        <result column="user_passowrd" property="userPassowrd" />
        <result column="staff_image" property="staffImage" />
    </resultMap>

</mapper>
