<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twoGroup.educational.mapper.StudentPracticeSkillsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.twoGroup.educational.entities.StudentPracticeSkills">
        <id column="student_practice_id" property="studentPracticeId" />
        <result column="student_id" property="studentId" />
        <result column="staff_id" property="staffId" />
        <result column="practice_start" property="practiceStart" />
        <result column="practice_end" property="practiceEnd" />
        <result column="practice_address" property="practiceAddress" />
        <result column="practice_content" property="practiceContent" />
        <result column="practice_score" property="practiceScore" />
        <result column="reg_time" property="regTime" />
        <result column="practice_note" property="practiceNote" />
    </resultMap>

</mapper>
