<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TwoGroup.Educational.mapper.StudentInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.TwoGroup.Educational.entities.StudentInfo">
        <id column="student_id" property="studentId" />
        <result column="staff_id" property="staffId" />
        <result column="class_id" property="classId" />
        <result column="student_no" property="studentNo" />
        <result column="student_name" property="studentName" />
        <result column="student_sex" property="studentSex" />
        <result column="student_name1" property="studentName1" />
        <result column="student_national" property="studentNational" />
        <result column="student_birthday" property="studentBirthday" />
        <result column="student_health" property="studentHealth" />
        <result column="student_native" property="studentNative" />
        <result column="student_indate" property="studentIndate" />
        <result column="student_marital" property="studentMarital" />
        <result column="student_address" property="studentAddress" />
        <result column="student_post" property="studentPost" />
        <result column="family_tellphone" property="familyTellphone" />
        <result column="student_tellphone" property="studentTellphone" />
        <result column="student_qq" property="studentQq" />
        <result column="student_isleague" property="studentIsleague" />
        <result column="student_join_time" property="studentJoinTime" />
        <result column="student_idcard" property="studentIdcard" />
        <result column="student_before_school" property="studentBeforeSchool" />
        <result column="student_hobby" property="studentHobby" />
        <result column="student_school" property="studentSchool" />
        <result column="student_pro" property="studentPro" />
        <result column="student_edu_sys" property="studentEduSys" />
        <result column="student_pro_city" property="studentProCity" />
        <result column="student_type" property="studentType" />
        <result column="student_ispay" property="studentIspay" />
        <result column="student_desc" property="studentDesc" />
        <result column="student_number" property="studentNumber" />
        <result column="student_password" property="studentPassword" />
        <result column="student_mark" property="studentMark" />
        <result column="student_hard" property="studentHard" />
        <result column="student_loan" property="studentLoan" />
        <result column="student_state" property="studentState" />
        <result column="student_muster" property="studentMuster" />
        <result column="student_project" property="studentProject" />
        <result column="student_image" property="studentImage" />
    </resultMap>

</mapper>
