<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twoGroup.educational.mapper.SyllabusInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.twoGroup.educational.entities.SyllabusInfo">
        <id column="syllabus_id" property="syllabusId" />
        <result column="syllabus_yi" property="syllabusYi" />
        <result column="syllabus_er" property="syllabusEr" />
        <result column="syllabus_san" property="syllabusSan" />
        <result column="syllabus_si" property="syllabusSi" />
        <result column="syllabus_wu" property="syllabusWu" />
        <result column="syllabus_liu" property="syllabusLiu" />
        <result column="syllabus_qi" property="syllabusQi" />
        <result column="is_uesd" property="isUesd" />
        <result column="syllabus_name" property="syllabusName" />
    </resultMap>

</mapper>
