<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TwoGroup.Educational.mapper.TrackRecordInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.TwoGroup.Educational.entities.TrackRecordInfo">
        <id column="track_record_id" property="trackRecordId" />
        <result column="student_id" property="studentId" />
        <result column="track_record_title" property="trackRecordTitle" />
        <result column="track_record_content" property="trackRecordContent" />
        <result column="track_record_time" property="trackRecordTime" />
        <result column="enrollment" property="enrollment" />
        <result column="next_record_time" property="nextRecordTime" />
    </resultMap>

</mapper>
